{% extends "base.html" %}
{% block title %}EcoWheels{% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<a href="{{ url_for('profile') }}" id="backButton" style="outline: none;" class="nav-link">< Back to Profile Page</a>

<div class="container">
    <div class="title">
        <p>Edit Profile</p>
    </div>

    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Payment Information</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <div class="title">
                    <p>General Information</p>
                </div>

                <div class="info-icon">
                    <i class="fas fa-info-circle" style="padding-left: 110px;"></i>
                    <p>Click <a href="#" id="policyLink">here</a> to see our username and password policy.</p>
                </div>

                {% if error and not error_in_modal %}
                  <p style="text-align: center; {% if error == 'Profile updated successfully.' %}color: LimeGreen;{% else %}color: red;{% endif %}">
                    {{ error }}
                  </p>
                {% endif %}

                <div class="user-details">
                    <form method="POST" action="{{ url_for('edit_profile') }}" autocomplete="off" data-form-type="general">
                        <input type="hidden" name="form_type" value="general">
                        <div class="required_input">
                            {{ render_field(form.full_name, class="form-control", id="name", placeholder="Enter your name") }}
                        </div>
                        <div class="required_input">
                            {{ render_field(form.username, class="form-control", id="username", placeholder="Enter your username") }}
                        </div>
                        <div class="required_input">
                            {{ render_field(form.email, class="form-control", id="email", placeholder="example@gmail.com") }}
                        </div>
                        <div class="required_input">
                            {{ render_field(form.phone_number, class="form-control", id="phone", placeholder="8 digits phone number") }}
                        </div>
                        <div class="input_box">
                            {{ render_field(form.new_password, class="form-control", id="new_pass", placeholder="Enter your new password") }}
                        </div>
                        <div class="input_box">
                            {{ render_field(form.confirm_new_password, class="form-control", id="confirm_new_pass", placeholder="Confirm your password") }}
                        </div>
                        <button type="button" class="btn btn-primary" id="saveChanges_g" onclick="showPasswordModal('general')">Save Changes</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                <div class="title">
                    <p>Payment Information</p>
                </div>
                <div class="payment-details">
                    <form method="POST" action="{{ url_for('edit_profile') }}" autocomplete="off" data-form-type="payment">
                        <input type="hidden" name="form_type" value="payment">
                        <div class="input_box" style="margin-top: 10px;">
                            {{ render_field(form.card_name, class="form-control", id="card_name", placeholder="Enter your card name") }}
                        </div>
                        <div class="input_box">
                            {{ render_field(form.card_number, class="form-control", id="card_number", placeholder="Enter your card number") }}
                        </div>
                        <div class="input_box">
                            {{ render_field(form.exp_month, class="form-control", id="exp_month", placeholder="Enter your expiry month") }}
                        </div>
                        <div class="input_box">
                            {{ render_field(form.exp_year, class="form-control", id="exp_year", placeholder="Enter your name") }}
                        </div>
                        <div class="input_box">
                            {{ render_field(form.cvv, class="form-control", id="cvv", placeholder="Enter your cvv") }}
                        </div>
                        <button type="button" class="btn btn-primary" id="saveChanges_p" onclick="showPasswordModal('payment')">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade {% if show_modal %}show{% endif %}" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true" style="{% if show_modal %}display: block;{% endif %}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Confirm Current Password</h5>
            </div>
            <div class="modal-body">
                {% if error and error_in_modal %}
                  <p style="color: red; text-align: center;">{{ error }}</p>
                {% endif %}
                <form id="passwordForm">
                    <div class="form-group">
                        {{ render_field(form.current_password, class="form-control", id="current_pass_modal", placeholder="Enter your current password") }}
                    </div>
                    <button type="submit" class="btn btn-primary" id="modal_confirm">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="policyModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3 style="padding-bottom: 20px;">Username and Password Policy</h3>
        <p><strong>Username:</strong></p>
        <ul>
            <li>Must be at least 6 characters long.</li>
            <li>Special characters are not allowed.</li>
        </ul>
        <p><strong>Password:</strong></p>
        <ul>
            <li>Must be at least 8 characters long.</li>
            <li>Must contain at least one uppercase letter, one lowercase letter, and one special character.</li>
            <li>New password cannot be the same as any of the last 3 passwords.</li>
        </ul>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/last_visited_url.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_profile.js') }}"></script>

{% endblock %}
