{% extends "base.html" %}
{% block title %}EcoWheels{% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" xmlns="http://www.w3.org/1999/html">
<a href="/">
    <img src="{{ url_for('static', filename='images/EcoWheels Logo.jpeg') }}" alt="EcoWheels Logo" style="width: 500px;">
</a>
<div class="container">
        <div class="title">
            <p>Login</p>
        </div>

        {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
        {% endif %}

        <form method="POST" action="" autocomplete="off">
            <div class="user_details">
                <div class="input_box">
                    {{ render_field(form.email, class="form-control", id="email", placeholder="example@gmail.com") }}
                </div>
                <div class="input_box">
                    {{ render_field(form.password, class="form-control", id="pass", placeholder="Enter your password") }}
                </div>
            </div>
            <div class="reg_btn">
                <input type="submit" value="Login">
            </div>
             <p class="info" style="margin-left: 28px; margin-bottom: 20px;">Forgot Password? Reset it <a href="#" class="login-link">here</a></p>
            <p class="info" style="margin-left: 28px; margin-bottom: 20px;">Don't have an account? Sign Up <a href="/sign_up" class="login-link">here</a></p>
        </form>
    </div>

{% endblock %}