<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}" xmlns="http://www.w3.org/1999/html">
<div class="container">
        <div class="title">
            <p>Registration</p>
        </div>

        <form action="#" autocomplete="off">
            <div class="user_details">
                <div class="input_box">
                    <label for="name">Full Name</label>
                    <input type="text" id="name" placeholder="Enter your name" required>
                </div>
                <div class="input_box">
                    <label for="username">Username</label>
                    <input type="text" id="username" placeholder="Enter your username" required>
                </div>
                <div class="input_box">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Enter your email" required>
                </div>
                <div class="input_box">
                    <label for="phone">Phone Number</label>
                    <input type="number" id="phone" pattern="[0-9]*" placeholder="Enter your number" required>
                </div>
                <div class="input_box">
                    <label for="pass">Password</label>
                    <input type="password" id="pass" pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*()_+])[a-zA-Z0-9!@#$%^&*()_+]{8,}$" placeholder="Enter your password" required>
                </div>
                <div class="input_box">
                    <label for="confirmPass">Confirm Password</label>
                    <input type="password" id="confirmPass" pattern="^(?=.*[A-Z])(?=.*[!@#$%^&*()_+])[a-zA-Z0-9!@#$%^&*()_+]{8,}$" placeholder="Confirm your password" required>
                </div>
            </div>
            <div>
                <input type="checkbox" class="checkbox" style="width: 19px; height: 19px; float: left;" required>
                <span style="margin-top: -3px;">I agree to the Terms and Privacy Policy</span>
            </div>
            <div class="reg_btn">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>