{% extends "base.html" %}
{% block title %}EcoWheels{% endblock %}

{% block content %}
{% from "_formHelper.html" import render_field %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/sign_up.css') }}">
<a href="/">
    <img src="{{ url_for('static', filename='images/EcoWheels Logo.jpeg') }}" alt="EcoWheels Logo" style="width: 500px;">
</a>
<div class="container">
        <div class="title">
            <p>Sign Up</p>
        </div>

      {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
      {% endif %}

        <form method="POST" action="" autocomplete="off">
            <div class="user_details">
                <div class="input_box">
                    {{ render_field(form.full_name, class="form-control", id="name", placeholder="Enter your name") }}
                </div>
                <div class="input_box">
                    {{ render_field(form.username, class="form-control", id="username", placeholder="Enter your username") }}
                </div>
                <div class="input_box">
                    {{ render_field(form.email, class="form-control", id="email", placeholder="example@gmail.com") }}
                </div>
                <div class="input_box">
                    {{ render_field(form.phone_number, class="form-control", id="phone", placeholder="8 digits phone number") }}
                </div>
                <div class="input_box">
                    {{ render_field(form.password, class="form-control", id="pass", placeholder="Enter your password") }}
                </div>
                <div class="input_box">
                    {{ render_field(form.confirm_password, class="form-control", id="confirmPass", placeholder="Confirm your password") }}
                </div>
            </div>
            <div style="margin-left: -139px;">
                <input type="checkbox" class="checkbox" style="width: 19px; height: 19px; float: left;" required>
                <span style="margin-top: -3px;">I agree to the Terms and Privacy Policy</span>
            </div>
            <div class="reg_btn">
                <input type="submit" value="Register">
            </div>
            <p class="info" style="margin-left: 28px; margin-bottom: 20px;">Already have an account? Login <a href="/login" class="login-link">here</a></p>
        </form>
    </div>

{% endblock %}