{% extends "base.html" %}
{% block title %}Verify OTP{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/verify_otp.css') }}">

    <form method="post" class="otp-form" name="otp-form" autocomplete="off">
        {{ form.hidden_tag() }}
        <div class="title">
            <h3 style="font-size: 30px;">OTP VERIFICATION</h3>
            <p class="info">An OTP has been sent to {{ user_email|hide_email }}</p>
            <p class="msg" style="margin-top: 45px; text-align: center;">Please enter OTP to verify</p>
        </div>

        {% if error %}
        <p style="color: red; text-align: center;">{{ error }}</p>
        {% endif %}

          <div class="otp-input-fields" id="otp">
            {{ form.otp1(class="otp__digit otp__field__1", onpaste="return false;", required=True) }}
            {{ form.otp2(class="otp__digit otp__field__2", onpaste="return false;", required=True) }}
            {{ form.otp3(class="otp__digit otp__field__3", onpaste="return false;", required=True) }}
            {{ form.otp4(class="otp__digit otp__field__4", onpaste="return false;", required=True) }}
            {{ form.otp5(class="otp__digit otp__field__5", onpaste="return false;", required=True) }}
            {{ form.otp6(class="otp__digit otp__field__6", onpaste="return false;", required=True) }}
          </div>

        <button type="button" id="clear-otp">Clear OTP</button>

        <button type="submit" id="verify">Verify OTP</button>
    </form>
    <form action="{{ url_for('request_new_otp') }}" method="post">
        {{ form.hidden_tag() }}
        <button type="submit" id="resend">Resend OTP</button>
    </form>

<script>
    // Get all input fields
    var otpFields = document.querySelectorAll('#otp input');
    
    // Function to clear all OTP input fields
    function clearOtpFields() {
        otpFields.forEach(function(field) {
            field.value = '';
        });
        // Focus on the first field
        otpFields[0].focus();
    }

    // Add event listeners to each input field
    otpFields.forEach(function(field, index) {
        field.addEventListener('input', function() {
            // Limit input to one character
            if (this.value.length > 1) {
                this.value = this.value.slice(0, 1);
            }
            // Move focus to the next input field if current input has a value
            if (this.value.length === 1) {
                var nextIndex = index + 1;
                if (nextIndex < otpFields.length) {
                    otpFields[nextIndex].focus();
                }
            }
        });
    });

    // Add event listener to the clear button
    document.getElementById('clear-otp').addEventListener('click', function() {
        clearOtpFields();
    });
</script>

{% endblock %}
