/* edit_profile.css */

/* General styling for the container */
.container {
    width: 80%;
    margin: auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

/* Title styling */
.title p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* User details styling */
.user-details p {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

/* Payment details styling */
.payment-details {
    font-size: 16px;
    color: #555;
    margin: 10px 0;
}

/* Back button styling */
#backButton {
    display: inline-block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

#backButton:hover {
    text-decoration: underline;
}

/* Tabs styling */
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #007bff;
}

.nav-tabs .nav-link:hover {
    border-color: #e9ecef #e9ecef #ddd;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #ddd #ddd #fff;
}

#saveChanges_g {
    margin-top: 20px;
}

/* Tab content styling */
.tab-content {
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Success and error messages */
p[style*="color: LimeGreen"] {
    color: LimeGreen !important;
    font-weight: bold;
}

p[style*="color: red"] {
    color: red !important;
    font-weight: bold;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    display: none;
}

#backButton {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 15px;
    color: #fff;
    background-color: #007bff;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #0056b3;
    text-decoration: none;
}