/*Main*/

.home{
    padding: 0%;

}
.section{
  padding: 7rem 2rem;
}
.container{
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;

}
.flex{
  display: flex;
  align-items: center;
  column-gap: 0.6rem;

}

input{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.button{
  border: none;
  outline: none;
  color: white;
  padding: 1.4rem 4rem;
  border-radius: 3rem;
  background-color: black;

  cursor: pointer;
}
.button:hover{
  background-color: #4D4D4D;
}

/* Custom Scrollbar */
::selection{
  background-color: black;
  color: white;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #f9f1ec;
}
::-webkit-scrollbar-thumb{
  border-radius: 1rem;
  background-color: black;
}
::-webkit-scrollbar-thumb:hover{
  border-radius: 1rem;
  background-color: #4D4D4D
}

.home-img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.home-details{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: fixed;
    transform: translate(-50%, -50%);
    display: grid;
    justify-items: center;
    width: 100%;
    row-gap: 4rem;

}
.homeSubtitle{
  text-align: center;
  font-size: normal;
  color: #fff;

}
.homeTitle{
  text-align: center;
  font-size: big;
  color: #fff;
  font-weight: semi-bold;
}
.home .swiper-slide::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 125%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: overlay;

}

/*Table Codes*/                                                                     /*Table Codes*/
.menu{
  background-color: #2C3034;
}
.section-title,
.section-description{
  color: white;
}
#myTable {
  border-collapse: collapse;
  width: 94%;
  border: 1px solid black;
  font-size: 18px;
  color: #FFF;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 10px 10px ;
}

#myTable tr {
  border-bottom: 1px solid black;
}

#myTable tr.tableheader, #myTable tr:hover {
  background-color: black;
  color: #fff;
}

/*Product Side by Side*/
h1{
    text-align: center;
}

.ProductBtn{
  margin: 0 10px;
  background: black;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.ProductBtn{
  float: right;
  display: flex;
  height: 35px;
  width: 25%;
  align-items: center;
  justify-content: center;
}


hr {
  border: 0;
  height: 3px;
  width: 30px;
  margin: 22px 0 20px;
}
a {
  text-decoration: none;
}
p {
  margin: 0 0 1.5em 0;

  &:last-child {
    margin-bottom: 0;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.column{
  float: left;
  width: 50%;
  padding: 2% 3% 5% 3%;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

/*Product*/
.product-container{
  position: relative;
  height: 500px;
  max-width: 45%;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.product-container:hover{
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.product-container .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.product-container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.product-container .card-content{
  position: relative;
  height: 100%;
  width: 95%;
}
.card-content .wrapper{
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: #fff;
  padding: 10px 25px;
  box-shadow: -1px -1px 6px rgba(0,0,0,0.1);
  transition: bottom 0.3s ease;
}
.product-container:hover .card-content .wrapper{
  bottom: 0px;
}
.wrapper .title{
  font-size: 22px;
  font-weight: 500;
}
.wrapper p{
  font-size: 17px;
  color: black;
}
.wrapper .price{
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 23px;
  font-weight: 600;
  color: black;
}
.wrapper .content{
  margin: 10px 0;
}
.wrapper .content .name{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.content .colour-value{
  width: 30%;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.content .colour-value span{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.content .colour-value span.white{
  background: black;
}
.content .colour-value span.blue{
  background: #456ABD;
}
.content .colour-value span.yellow{
  background: red;
}
.content .colour-value span.active:after{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -4px;
  top: -4px;
  box-sizing: border-box;
  border: 2px solid #456ABD;
  border-radius: 50%;
}
.content .colour-value span.white.active:after{
  border-color: black;
}
.content .colour-value span.yellow.active:after{
  border-color: #EAA523;
}
.wrapper .btns{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.wrapper .btns button{
  height: 40px;
  width: 100%;
  margin: 0 10px;
  background: black;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}


