<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_log_in.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In System</title>
</head>
<body>

<div class="container">
    <img src="{{ url_for('static', filename='images/EcoWheels Logo.jpeg') }}" alt="EcoWheels">
    <form action="{{ url_for('admin_log_in') }}" method="post" autocomplete="off" class="form" id="login" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <h1 class="form__title">Login</h1>

        <div class="form__input-group">
            <label for="Username">{{ form.username.label }}</label>
            {{ form.username(class="form__input", id="Username", placeholder="Enter Username") }}
            {% if form.username.errors %}
                <div class="form__input--error-message">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form__input-group">
            <label for="Password">{{ form.password.label }}</label>
            {{ form.password(class="form__input", id="Password", placeholder="Enter Password") }}
            {% if form.password.errors %}
                <div class="form__input--error-message">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <br>
        {{ form.submit(class="form__button") }}
    </form>
</div>

</body>
</html>