<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminform.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="org-img">
        <img src="../static/images/EcoWheels Logo.jpeg" alt="EcoWheels">
    </div>

    <div class="arrow">
        <a id="arrow-back" href="{{ url_for('MVehicles') }}"><i class='bx bx-arrow-back'></i></a>
    </div>

    <form action="{{ url_for('createVehicle') }}" method="POST" enctype="multipart/form-data" autocomplete="off" class="form" id="createVehicle">
        {{ form.csrf_token }}

        <h1 class="form__title">Create Vehicle</h1>

 <div class="form__input-group">
            <label for="v-product_id">Product ID</label>
            {{ form.product_id(class="form__input", id="v-product_id", autofocus=true, placeholder="Enter Product ID (e.g. prod_Qdy9UouJPdgmor)") }}
            {% if form.product_id.errors %}
                <div class="form__input--error-message">
                    {% for error in form.product_id.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form__input-group">
            <label for="v-brand">Brand</label>
            {{ form.brand(class="form__input", id="v-brand", autofocus=true, placeholder="Enter Brand") }}
            {% if form.brand.errors %}
                <div class="form__input--error-message">
                    {% for error in form.brand.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form__input-group">
            <label for="v-model">Model</label>
            {{ form.model(class="form__input", id="v-model", placeholder="Enter Model") }}
            {% if form.model.errors %}
                <div class="form__input--error-message">
                    {% for error in form.model.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form__input-group">
            <label for="v-sp">Selling Price in SGD ($)</label>
            {{ form.price(class="form__input", id="v-sp", value=20000) }}
            {% if form.price.errors %}
                <div class="form__input--error-message">
                    {% for error in form.price.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form__input-group">
            <label for="v-image">Image</label>
            {{ form.file(class="form-control form__input", id="v-image", accept="image/*", autocomplete="off") }}
            {% if form.file.errors %}
                <div class="form__input--error-message">
                    {% for error in form.file.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form__input-group">
            <label for="v-des">Description</label>
            {{ form.description(class="form__input", id="v-des", rows=5, cols=40, placeholder="Enter Description") }}
            {% if form.description.errors %}
                <div class="form__input--error-message">
                    {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button class="form__button" type="submit">Submit</button>
    </form>
</body>
</html>