<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EcoWheels</title>
    <!-- Swiper JS CSS-->
    <link rel="stylesheet" href="css/swiper-bundle.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/Homepage.css">

</head>
<body>
<!-- Header -->
    <header class="header">

    </header>

    <main>
        <section class="home" id="home">
            <div class="home_content">
                <div class="swiper-slide">
                <img src="static/images/homepage_Pic1.jpg" class="home-img">
                    <div class="home-details">
                        <div class="home-text">
                                <h4 class="homeSubtitle">Introducing our Electric Vehicles</h4>
                                <h2 class="homeTitle">Explore the new era of Electric Vehicles</h2>
                        </div>

                        <button class="button">Explore</button>

                </div>
            </div>
        </section>
        <section class="section menu" id="menu">
            <div class="menu-container container">
                <div class="menu-text">
                    <h4 class="section-subtitle"><i>Opening Hours</i></h4>
                            <h2 class="section-title">Our Opening Hours</h2>
                            <p class="section-description">
                                Our place designed by pro architecture with psychologist to build best place suit you.  Our place designed by pro architecture with psychologist to build best place suit you.
                            </p>
                </div>
            </div>
            <div class="menu-content">
                            <div class="menu-items">
                                    <div class="menu-item flex">
                                            <img src="images/menuImg1.png" alt="" class="menu-img">

                                            <div class="menuItem-details">
                                                    <h4 class="menuItem-topic">Americano Roasted Coffee</h4>
                                                    <p class="menuItem-des">It is a long established fact that a reader will be distracted by the readable.</p>
                                            </div>

                                            <div class="menuItem-price flex">
                                                    <span class="discount-price">$18.99</span>
                                                    <span class="real-price">$20.66</span>
                                            </div>
                                    </div>
                                    <div class="menu-item flex">
                                            <img src="images/menuImg1.png" alt="" class="menu-img">

                                            <div class="menuItem-details">
                                                    <h4 class="menuItem-topic">Americano Roasted Coffee</h4>
                                                    <p class="menuItem-des">It is a long established fact that a reader will be distracted by the readable.</p>
                                            </div>

                                            <div class="menuItem-price flex">
                                                    <span class="discount-price">$18.99</span>
                                                    <span class="real-price">$20.66</span>
                                            </div>
                                    </div>
                                    <div class="menu-item flex">
                                            <img src="images/menuImg1.png" alt="" class="menu-img">

                                            <div class="menuItem-details">
                                                    <h4 class="menuItem-topic">Americano Roasted Coffee</h4>
                                                    <p class="menuItem-des">It is a long established fact that a reader will be distracted by the readable.</p>
                                            </div>

                                            <div class="menuItem-price flex">
                                                    <span class="discount-price">$18.99</span>
                                                    <span class="real-price">$20.66</span>
                                            </div>
                                    </div>
                                    <div class="menu-item flex">
                                            <img src="images/menuImg1.png" alt="" class="menu-img">

                                            <div class="menuItem-details">
                                                    <h4 class="menuItem-topic">Americano Roasted Coffee</h4>
                                                    <p class="menuItem-des">It is a long established fact that a reader will be distracted by the readable.</p>
                                            </div>

                                            <div class="menuItem-price flex">
                                                    <span class="discount-price">$18.99</span>
                                                    <span class="real-price">$20.66</span>
                                            </div>
                                    </div>
                            </div>

                            <div class="time-table">
                                    <span class="time-topic">Catogries Time</span>

                                    <ul class="time-lists">
                                            <li class="time-list flex">
                                                    <span class="open-day"> Sunday</span>
                                                    <span class="open-time">Closed</span>
                                            </li>
                                            <li class="time-list flex">
                                                    <span class="open-day"> Monday</span>
                                                    <span class="open-time">7.00am - 3.00pm</span>
                                            </li>
                                            <li class="time-list flex">
                                                    <span class="open-day"> Tuesday</span>
                                                    <span class="open-time">7.00am - 3.00pm</span>
                                            </li>
                                            <li class="time-list flex">
                                                    <span class="open-day"> Wednesday</span>
                                                    <span class="open-time">7.00am - 3.00pm</span>
                                            </li>
                                            <li class="time-list flex">
                                                    <span class="open-day"> Thursday</span>
                                                    <span class="open-time">7.00am - 3.00pm</span>
                                            </li>
                                            <li class="time-list flex">
                                                    <span class="open-day"> Friday</span>
                                                    <span class="open-time">7.00am - 3.00pm</span>
                                            </li>
                                            <li class="time-list flex">
                                                    <span class="open-day"> Saturday</span>
                                                    <span class="open-time">9.00am - 2.00pm</span>
                                            </li>
                                    </ul>
                            </div>
                    </div>
            </div>
        </section>
    </main>

</body>
</html>