<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EcoWheels</title>
    <!-- Product Script-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/Homepage.css">

</head>
<body>
<!-- Header -->
    <header class="header">

    </header>

    <main>
        <section class="home" id="home">
            <div class="home_content">
                <div class="swiper-slide">
                <img src="static/images/homepage_Pic1.jpg" class="home-img">
                    <div class="home-details">
                        <div class="home-text">
                                <h4 class="homeSubtitle">Introducing our Electric Vehicles</h4>
                                <h2 class="homeTitle">Explore the new era of Electric Vehicles</h2>
                        </div>

                        <button class="button">Explore</button>

                </div>
            </div>
        </section>


<!-- Products -->
        <section class="Product-Side">
            <h1>Models</h1>
            <div class="row">
              <div class="column">
                <img src="https://pictures.porsche.com/rtt/iris?COSY-EU-100-1711coMvsi60AAt5FwcmBEgA4qP8iBUDxPE3LUUEssTugNxfZo4arH%25tFRIDzFCnLweWEZaiKVO9xLSjctLD6L8T7wG2Epk6a0vDdgBWTJWFk4wIghVPO%2501bzOHiinLw3TIKya1E5yPew9a0CvNzxvK8GXoq1kYWr6FObzDswRuT0qAzx7e2H2q61UzQKQBfbsqYSYwJ0iO5Ms27HcTCkiNYKf2GLpuySPQrIMEuMNYw38DXko5xjEeDLFC1av5qIuGbmdwl3er0g8RTjzwHlE6IaqxKp95NmO1SZMrMNYw3u6x7Jv5c0jQvpjs3OrVy5Vb2rEUA6efcRHfjzs3wC2kak6%25sqU" alt="Snow" style="width:100%">
                <h2>Porsche 911</h2>
                  <p>The iconic, rear-engine sports car with exceptional performance</p>
                  <a href="#" class="ProductBtn" >Buy Now</a>
              </div>

              <div class="column">
                <img src="https://pictures.porsche.com/rtt/iris?COSY-EU-100-1711coMvsi60AAt5FwcmBEgA4qP8iBUDxPE3LUUEssTugNxfZo4arH%25tFRIDzFCnLweWEZaiKVO9xLSjctLD6L8T7wG2Epk6a0vDdgBWTJWFk4wIghVPO%2501bzOHiinLw3TIKya2eV6iTSQPzhRc2gicqA7fQASiOJUPY1eZTBsN5fIq2dioCPVvQDcFGN9PYnfuruNd5yPewdszhRc2%250UqA7fQhdiOJUPY0g5TBsN5pUy2dioCafrQDcFGm4VYnfur0td5yPewHUACvWdT7wkqdak6M9Y9XT9rzYpX%25nNU7yxU4l2Pg0xCjpjsAPQf" alt="Forest" style="width:100%">
                  <h2>Taycan</h2>
                  <p>Full electric SUV with excellent energy conservation</p>
                  <a href="#" class="ProductBtn" >Buy Now</a>
              </div>
            </div>

            <div class="column">
                <img src="https://www.bmw.com.sg/content/dam/bmw/common/all-models/m-series/xm/2022/Navigation/bmw_x-series_xm_modelcard_50.png/jcr:content/renditions/cq5dam.resized.img.585.low.time1664256324554.png" alt="Forest" style="width:100%">
                  <h2>i8</h2>
                  <p>Fast</p>
                  <a href="#" class="ProductBtn" >Buy Now</a>
              </div>
            </div>

            <div class="column">
                <img src="https://www.bmw.com.sg/content/dam/bmw/common/all-models/m-series/i4-m50/2024/navigation/bmw-i4-m50-xdrive-modelfinder.png/jcr:content/renditions/cq5dam.resized.img.585.low.time1713870390984.png" alt="Forest" style="width:100%">
                  <h2>M5 Series</h2>
                  <p>5-seater electric sports sedan with motorsport performance</p>
                  <a href="#" class="ProductBtn" >Buy Now</a>
              </div>
            </div>
        </section>

        <section class="product-container" id="product-container">
            <div class="image">
                <img src="https://pictures.porsche.com/rtt/iris?COSY-EU-100-1711coMvsi60AAt5FwcmBEgA4qP8iBUDxPE3Cb9pNXABuN9dMGF4tl3U0%25z8rMHIspMBvMZq6G5OtgSv31nBJaA4qh4NSEGkaW%25cz91wxuzbUUdMGLqk0DLfF%25vUqj7AuWXsOWoAeV6iTVC3zhRc2hEYqA7fQiuoOJUPYyvN9nReHvMo4y7zQxPF%25m8cAzGs8bGV%25DIuVP3eUNSWa9vJA4q8Q" alt="">
            </div>
            <div class="card-content">
                <div class="wrapper">
                  <div class="title">Porsche 911</div>
                  <p>Build your 911</p>
                  <span class="price">911</span>

                  <div class="btns">
                    <button>Buy now</button>
                    <button>Add to cart</button>
                  </div>
                </div>
              </div>
        </section>

    <hr/>
         <section class="section menu" id="menu">
            <div class="menu-container container">
                <div class="meu-text">
                    <h2 class="section-title">Our Opening Hours </h2>
                    <p class="section-description">We Offer the Best Products and Services</p>
                </div>
                <div class="menu-content">
                    <div class="menu-items">
                        <div class="table">
                            <table id="myTable">
                              <tr class="tableheader">
                                <th style="width:40%;">Services</th>

                                <th style="width:20%">Timing</th>
                              </tr>
                              <tr>
                                <td>Monday</td>
                                <td>10.00am - 7.00pm</td>
                              </tr>
                              <tr>
                                <td>Tuesday</td>
                                <td>10.00am - 7.00pm</td>
                              </tr>
                              <tr>
                                <td>Wednesday</td>
                                <td>10.00am - 7.00pm</td>
                              </tr>
                              <tr>
                                <td>Thursday</td>
                                <td>12.00pm - 7.00pm</td>
                              </tr>
                              <tr>
                                <td>Friday</td>
                                <td>12.00pm - 7.00pm</td>
                              </tr>
                              <tr>
                                <td>Saturday</td>
                                <td>9.00am - 7.00pm</td>
                              </tr>
                              <tr>
                                <td>Saturday</td>
                                <td>9.00am - 7.00pm</td>
                              </tr>
                              <tr>
                                <td>Public Holidays</td>
                                <td>*Per Bookings Only</td>
                              </tr>
                            </table>
                            </div>
                    </div>
            </div>
        </div>
        </section>
    </main>



</body>
</html>