{% extends "base.html" %}
{% block title %}EcoWheels{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" href="static/css/Homepage.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
     <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

<!-- Header/Navbar -->
<section class="showcase">
    <header>
        <h2 class="logo">EcoWheel</h2>
        <div class="toggle"></div>
    </header>

    <video src="static/images/Get to know the all-electric Porsche Taycan (720p).mp4" muted loop autoplay></video>

    <div class="overlay"></div>
    <div class="text">
        <h2>Introducing  </h2>
        <h3>The Era of Electric Vehicles</h3>
        <p>A fascinating experience beyond the drive. From exclusive offers, invites to private drives and closed-door events
            to unique privileges, here's a sneak peek at some of the exclusive benefits you will enjoy as an owner.</p>
        <a href="#">Explore</a>
    </div>

    <ul class="social">
        <li><a href="#"><img src="https://i.ibb.co/x7P24fL/facebook.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/Wnxq2Nq/twitter.png"></a></li>
        <li><a href="#"><img src="https://i.ibb.co/ySwtH4B/instagram.png"></a></li>
    </ul>

</section>

<section>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/models">Products</a></li>
            <li><a href="/login">Login</a></li>

            <li><a href="/sign_up">Sign Up</a></li>

            <li><a href="/profile">Profile Page</a></li>

        </ul>
    </div>
</section>

<!-- Products -->
<section class="Product-Side">
    <h1>Models</h1>
    <hr/>
    <div class="row">
        <div class="column1">
            <img src="https://pictures.porsche.com/rtt/iris?COSY-EU-100-1711coMvsi60AAt5FwcmBEgA4qP8iBUDxPE3LUUEssTugNxfZo4arH%25tFRIDzFCnLweWEZaiKVO9xLSjctLD6L8T7wG2Epk6a0vDdgBWTJWFk4wIghVPO%2501bzOHiinLw3TIKya1E5yPew9a0CvNzxvK8GXoq1kYWr6FObzDswRuT0qAzx7e2H2q61UzQKQBfbsqYSYwJ0iO5Ms27HcTCkiNYKf2GLpuySPQrIMEuMNYw38DXko5xjEeDLFC1av5qIuGbmdwl3er0g8RTjzwHlE6IaqxKp95NmO1SZMrMNYw3u6x7Jv5c0jQvpjs3OrVy5Vb2rEUA6efcRHfjzs3wC2kak6%25sqU" alt="Snow" style="width:100%">
            <h2>Porsche 911</h2>
            <p>The iconic, rear-engine sports car with exceptional performance</p>
            <a href="homepage/models.html" class="ProductBtn">Buy Now</a>
        </div>

        <div class="column1">
            <img src="https://pictures.porsche.com/rtt/iris?COSY-EU-100-1711coMvsi60AAt5FwcmBEgA4qP8iBUDxPE3LUUEssTugNxfZo4arH%25tFRIDzFCnLweWEZaiKVO9xLSjctLD6L8T7wG2Epk6a0vDdgBWTJWFk4wIghVPO%2501bzOHiinLw3TIKya2eV6iTSQPzhRc2gicqA7fQASiOJUPY1eZTBsN5fIq2dioCPVvQDcFGN9PYnfuruNd5yPewdszhRc2%250UqA7fQhdiOJUPY0g5TBsN5pUy2dioCafrQDcFGm4VYnfur0td5yPewHUACvWdT7wkqdak6M9Y9XT9rzYpX%25nNU7yxU4l2Pg0xCjpjsAPQf" alt="Forest" style="width:100%">
            <h2>Taycan</h2>
            <p>Full electric SUV with excellent energy conservation</p>
            <a href="#" class="ProductBtn">Buy Now</a>
        </div>
    </div>

    <div class="column2">
        <img src="https://www.bmw.com.sg/content/dam/bmw/common/all-models/m-series/xm/2022/Navigation/bmw_x-series_xm_modelcard_50.png/jcr:content/renditions/cq5dam.resized.img.585.low.time1664256324554.png" alt="Forest" style="width:100%">
        <h2>i8</h2>
        <p>Fast</p>
        <a href="#" class="ProductBtn">Buy Now</a>
    </div>

    <div class="column2">
        <img src="https://www.bmw.com.sg/content/dam/bmw/common/all-models/m-series/i4-m50/2024/navigation/bmw-i4-m50-xdrive-modelfinder.png/jcr:content/renditions/cq5dam.resized.img.585.low.time1713870390984.png" alt="Forest" style="width:100%">
        <h2>M5 Series</h2>
        <p>5-seater electric sports sedan with motorsport performance</p>
        <a href="#" class="ProductBtn">Buy Now</a>
    </div>
</section>

<hr/>

<!-- Signup Section -->                                             <!-- Signup Section -->
        <section class="section newsletter">
            <div class="newletter-container container">


                    <p class="section-description">Sign up now to receive Updates, Discounts and More!</p>

                    <div class="newsletter-signup">
                          <a href="/sign_up" target="_blank">
                             <button class="button newsletter-button">Sign Up Now!</button>
                          </a>
                    </div>

                    <div class="newsletter media-icons flex">
                        <a href="https://www.facebook.com"><i class='bx bxl-facebook'></i></a>
                        <a href="https://twitter.com/i/flow/login"><i class='bx bxl-twitter' ></i></a>
                        <a href="https://www.instagram.com/accounts/login"><i class='bx bxl-instagram-alt' ></i></a>
                        <a href="https://github.com/login"><i class='bx bxl-github'></i></a>
                        <a href="https://www.youtube.com/login"><i class='bx bxl-youtube'></i></a>
                </div>
            </div>
        </section>


<!-- Footer Section -->
        <footer class="section footer">
            <div class="footer-container container">
                    <div class="footer-content">
                            <p class="content-description">We provide a collection of products and services to suite your needs, delivering high performance and usability that satisfy our users.</p>

                            <div class="footer-location flex">
                                <i class='bx bx-map map-icon'></i>

                                <div class="location-text">
                                        Singapore
                                </div>
                            </div>
                    </div>

                    <div class="footer-linkContent">
                        <ul class="footer-links">
                                <h4 class="footerLinks-title">Contents</h4>

                                <li><a href="#" class="footer-link">HomePage</a></li>
                                <li><a href="/models" class="footer-link">Models</a></li>
                                <li><a href="login.html" class="footer-link">Login</a></li>

                        </ul>
                        <ul class="footer-links">
                                <h4 class="footerLinks-title">Shop Online</h4>

                                <li><a href="Store.html" class="footer-link">Cars</a></li>
                                <li><a href="Store.html" class="footer-link">Models</a></li>
                                <li><a href="Store.html" class="footer-link">Maintainance</a></li>
                        </ul>
                        <ul class="footer-links">
                                <h4 class="footerLinks-title">Support</h4>

                                <li><a href="#" class="footer-link">About Us</a></li>
                                <li><a href="#" class="footer-link">FAQs</a></li>
                                <li><a href="#" class="footer-link">Private Policy</a></li>
                                <li><a href="#" class="footer-link">Help Us</a></li>
                        </ul>
                    </div>
            </div>
            <div class="footer-copyRight">&#169; ECOWHEELS. All rigths reserved</div>
        </footer>


<!-- Hamburger Menu -->
<script>
  const menuToggle = document.querySelector('.toggle');
  const showcase = document.querySelector('.showcase');

  menuToggle.addEventListener('click', () => {
    menuToggle.classList.toggle('active');
    showcase.classList.toggle('active');
  });

  // Change header bg color
  window.addEventListener("scroll", () => {
    const scrollY = window.pageYOffset;

    if(scrollY > 5){
      document.querySelector("header").classList.add("header-active");
    }else{
      document.querySelector("header").classList.remove("header-active");
    }

    // Scroll up button
    const scrollUpBtn = document.querySelector('.scrollUp-btn');

    if(scrollY > 250){
      scrollUpBtn.classList.add("scrollUpBtn-active");
    }else{
      scrollUpBtn.classList.remove("scrollUpBtn-active");
    }

    // Nav link indicator
    const sections = document.querySelectorAll('section[id]');
    sections.forEach(section =>{
      const sectionHeight = section.offsetHeight,
            sectionTop = section.offsetTop - 100;

      let navId = document.querySelector(`.menu-content a[href='#${section.id}']`);
      if(scrollY > sectionTop && scrollY <=  sectionTop + sectionHeight){
        navId.classList.add("active-navlink");
      }else{
        navId.classList.remove("active-navlink");
      }

      navId.addEventListener("click", () => {
        navMenu.classList.remove("open");
        body.style.overflowY = "scroll";
      })
    })
  });

  // Scroll Reveal Animation
  const sr = ScrollReveal({
    origin: 'top',
    distance: '60px',
    duration: 2500,
    delay: 400,
  });

  sr.reveal(`.section-title, .section-subtitle, .section-description, .brand-image, .tesitmonial, .newsletter
.logo-content, .newsletter-inputBox, .newsletter-mediaIcon, .footer-content, .footer-links`, {interval:100,});

  sr.reveal(`.about-imageContent, .menu-items`, {origin: 'left'});
  sr.reveal(`.about-details, .time-table`, {origin: 'right'});
</script>

</body>

{% endblock %}
